{
	"extends": "standard",
	"rules": {
		"max-len": [
			2,
			{
				"code": 140,
				"tabWidth": 4,
				"ignoreUrls": true
			}
		],
		"no-console": ["error", { "allow": ["warn", "error"] }]
	},
	"plugins": ["prettier"]
}
